[submodule "forge-workspace/plugins/apptentive/inspector/ios-inspector/ForgeModule/Apptentive"]
	path = forge-workspace/plugins/apptentive/inspector/ios-inspector/ForgeModule/Apptentive
	url = https://github.com/apptentive/apptentive-ios.git
